<div dir="rtl" >
<form [formGroup]="expenseForm" (ngSubmit)="saveExpenses()" class="receipt-form">
    <div class="form-group">
        <!-- <label for="date">תאריך:</label> -->
        <input type="date" formControlName="date">
    </div>
    <br>
    <div class="form-group">
       
        <select formControlName="paymentMethods">  
            <option value="" disabled selected hidden>בחר  אמצעי תשלום</option>
            <option value="credit-card">אשראי</option>
            <option value="cash">מזומן</option>
            <option value="check">צק</option>
        </select>
    </div>
    <br>
    <div class="form-group">
       
        <input type="number" placeholder="סכום" formControlName="newCustomerNum" class="new-customer-number">
    </div>
    <br>
    <div class="form-group">
        <input type="number" placeholder="ספק" formControlName="newCustomerNum" class="new-customer-number">
    </div>
    <br>
    <div class="form-group">
        <textarea formControlName="details" placeholder="פרוט:" class="textarea-details"></textarea>
       
    </div>
  
    <button type="submit">שמירה</button>
</form> 
</div>