.navbar {

  padding: 10px; 
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline; 
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none; 
  padding: 10px;
}

.nav a:hover {
  background-color:  #007bff;
  color: #fff; 
}

.active {
  font-weight: bold; 
}
.navbar {
  
  color: #ffffff;
  padding: 10px;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: #000000;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.navbar {
  background-color: #dedada;
  color: #fff;
  padding: 10px;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.footer {
  background-color: #583f3f;
  color: #fff;
  text-align: center;
  padding: 10px;
}
