.receipt-form {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
  }
  
  .botton-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .receipt-form input[type="button"],
  .receipt-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .receipt-form input[type="number"],
  .receipt-form input[type="date"],
  .receipt-form select,
  .textarea-details {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  .new-customer-section {
    display: none;
  }
  
  .new-customer-name,
  .save-customer-btn {
    margin-top: 10px;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .submit {
    
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
 
    margin-top: 10px;
  }
  /* Adjust nested receipt-form elements */
  .receipt-form .receipt-form,
  .receipt-form .receipt-form .receipt-form {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    
  }


.receipts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Arial, sans-serif;
  padding: 10px;
  margin-top: 20px;
}

/* Styling for each individual receipt item */
.receipt-item {
  width: 300px; /* Set a fixed width for each receipt item */
  margin: 10px;
  padding: 10px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

.receipt-item div {
  margin-bottom: 5px;
}

/* Styling for specific receipt details */
.amount {
  color: #007bff;
  font-weight: bold;
}

.date {
  color: #7d848b;
}

.details {
  color: #495057;
}

.payment-methods {
  color: #28a745;
}

.provider {
  color: #dc3545;
}

.customer {
  color: #6610f2;
}
