 <div dir="rtl" >
 <div id="all">
    <br>
    <div class="botton-header">
    <input type="button" value="הכנסות" (click)="flagRevenue = true; flagExpense = false" class="header">
    <input type="button" value="הוצאות" (click)="flagExpense = true; flagRevenue = false" class="header">
</div>
</div>

    <div *ngIf="flagExpense || flagRevenue" class="receipt-form">
        <input type="button" value="לפי שנה" (click)="flagYear = true" class="receipt-form">
        <div *ngIf="flagYear">
            <input type="number" placeholder="הקש שנה" (change)="value = $event" class="receipt-form">
            <input type="submit" (click)="getByYear()">
        </div>
        <br>
        <input type="button" value="לפי חודש" (click)="flagMonth = true" class="receipt-form">
        <div *ngIf="flagMonth">
            <input type="number" placeholder="הקש חודש" (change)="value = $event" class="receipt-form">
            <input type="submit" (click)="getByMonth()">
        </div>
        <br>
        <input type="button" value="בין טווח תאריכים" (click)="flag2date = true" class="receipt-form">
        <div *ngIf="flag2date">
            <input type="date" (change)="startDate = $event">
            <input type="date" (change)="endDate = $event">
            <input type="submit" (click)="getBy2date()">
        </div>
      
    </div>
    <div *ngIf="flagRevenue" class="receipt-form">
        <input type="button" value="לפי לקוח" (click)="flagcust=true"  class="receipt-form">
        <select (click)="getByCust($event)" *ngIf="flagcust" class="receipt-form" >
            <option value="default">  בחר אחת מהאפשרויות</option >
            <option *ngFor="let customer of customers" [value]="customer.name" class="receipt-form">{{ customer.name }}</option>
        </select>
    </div>

    <div *ngIf="flagDisplay" class="receipts">
        <div *ngIf="flagExpense">
            <div *ngFor="let e of this.expense.expense" class="receipt-item">
                <div class="amount">סכום:{{e.amount}}</div>
                <div class="date">תאריך:{{e.date}}</div>
                <div class="details">פירוט:{{e.details}}</div>
                <div class="payment-methods">אמצעי תשלום:{{e.paymentMethods}}</div>
                <div class="provider">ספק:{{e.provider}}</div>
            </div>
        </div>
    
        <div *ngIf="flagRevenue">
            <div *ngFor="let e of this.revenue.Revenue" class="receipt-item">
                <div class="amount">סכום:{{e.amount}}</div>
                <div class="date">תאריך:{{e.date}}</div>
                <div class="details">פירוט:{{e.details}}</div>
                <div class="payment-methods">אמצעי תשלום:{{e.paymentMethods}}</div>
                <div class="customer">לקוח:{{e.customer}}</div>
            </div>
        </div>
    </div>
    
 
</div>