<div dir="rtl" >
<form [formGroup]="receiptForm" (ngSubmit)="saveReceipt()"  class="receipt-form">
    
    <div class="form-group">
        <br>
       
        <select (change)="onSelectChange($event)" class="select-customer">
            <option value=""> בחר  לקוח </option>
            <option value="newCustomer"> לקוח חדש</option>
            <option *ngFor="let customer of customers" [value]="customer.name">{{ customer.name }}</option>
        </select>
        <div *ngIf="flagnew" class="new-customer-section">
            <input type="text" placeholder=" שם לקוח חדש  " (input)="updateNewCustomerName($event)">
            <input type="number" placeholder="   הזן מספר לקוח חדש" (input)="updateNewCustomerNum($event)">
            <input type="button" (click)="saveCustomer()" value=" שמור לקוח">
        </div>
    </div>
    <div class="form-group">
        <!-- <label for="date">תאריך:</label> -->
        <input type="date" formControlName="date" class="input-date">
    </div>
    <div class="form-group">
      
        <select formControlName="paymentMethods" class="input-date">
            <option value="" disabled selected hidden>בחר  אמצעי תשלום</option>
            <option value="credit-card">אשראי</option>
            <option value="cash">מזומן</option>
            <option value="check">צק</option>
        </select>
    </div>
    <div class="form-group">
        <input type="number" placeholder="סכום" formControlName="newCustomerNum" class="new-customer-number">
    </div>
    <div class="form-group">
       
    </div>
    <button type="submit" onclick="showSuccessMessage()" class="submit-btn">שמירה</button>
    <div id="successMessage" class="success-message">הנתונים נשמרו בהצלחה</div>
</form>
</div>